<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Koa-chat{% endblock %}</title>
	{% include "./elements/head_styles.html" %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Koa-chat</a>
		</div>
	</div>
</div>
<div class="container">
	{% block content %}
	<p>Missing content!</p>
	{% endblock %}
</div>
{% include "./elements/body_scripts.html" %}
</body>
</html>
